# Tools for Data Science
## Module6 Peer-graded Assignment

Exercise 2 - Create a markdown cell with the title of the notebook

# DataScienceEcosystem

Exercise 3 - Create a markdown cell for an introduction
### Introduction

In this notebook, Data Science Tools and Ecosystem are summarised.

Exercise 4 - Create a markdown cell to list data science languages

### Common data science languages
python: most common dada science language, open source, widely used in industries

R: Free-software data science language, developed by statisticians and mathematicians, mainly used in academia.

SQL: Database language

Exercise 5 - Create a markdown cell to list data science libraries.
### Data Science Libraries

#### python
Numpy: used for scientific computation. supports multidimensional data and large matrices
pandas: primarily used for data analysis, data manipulation, and data cleaning
matplotlib: used for various visualisations
seaborn: another library for visualisations, covers heatmaps as well
plotly: used to create interactive data visualizations
Scikit-Learn: used for machine learning

#### R
dplyr: used for various data manipulations
ggplot2: used for various visualisations
caret: used for machine learning such as regression, classifications
tidyverse: a collection of libraries to trasnform data

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

### Data Science tools

#### Data Management
Hadoop,DB2, Oracle DB et.c
#### Data Analysis 
python, R etc.
#### Data queries 
SQL (MySQL, SQLite, etc.)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

### Arithmetic expression examples

1+1 = 1 

1-1 = 0

1*1 = 1

1/1 =1

1//2 = 0 (rounded into integer)

2^2 = 4

Exercise 8 - Create a code cell to multiply and add numbers.

In [5]:
3*4 + 5

17

Exercise 9 - Create a code cell to convert minutes to hours.

In [ ]:
minutes = int(input("Please enter time in minutes"))
h=minutes/ 60
print("Hours=",h)

Exercise 10 -Insert a markdown cell to list Objectives.
### Objectives
To reflect some of the keytakeaways of Data Science tools

Exercise 11 - Create a markdown cell to indicate the Author's name
### Authors name:
Tona