Exercise 2 - Create a markdown cell with the title of the notebook


# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction
### Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

### List of Data science languages
python: most common dada science language, open source, widely used in industries

R: Free-software data science language, developed by statisticians and mathematicians, mainly used in academia.

SQL: Database language

Scala

Java

C++

Julia

JavaScript

PHP

Go

Ruby

Visual Basic

Exercise 5 - Create a markdown cell to list data science libraries.
### Data Science Libraries

#### python
Numpy: used for scientific computation. supports multidimensional data and large matrices

pandas: primarily used for data analysis, data manipulation, and data cleaning

matplotlib: used for various visualisations

seaborn: another library for visualisations, covers heatmaps as well

plotly: used to create interactive data visualizations

Scikit-Learn: used for machine learning

Keras

TensorFlow

PyTorch




#### R
dplyr: used for various data manipulations

ggplot2: used for various visualisations

caret: used for machine learning such as regression, classifications

tidyverse: a collection of libraries to trasnform data

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

- Anaconda
- Jupytor Notebook
- Pycharm
- R Studio

Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

### Arithmetic expression examples
Below are a few examples of evaluating arithmetic expressions in Python


1+1 = 1 

1-1 = 0

1*1 = 1

1/1 =1

1//2 = 0 (rounded into integer)

2^2 = 4

Exercise 8 - Create a code cell to multiply and add numbers.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

Exercise 9 - Create a code cell to convert minutes to hours.

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [ ]:
# The following is to insert any values in minutes to convert it into hours.
minutes = int(input("Please enter time in minutes"))
h=minutes/ 60
print("Hours=",h)

Exercise 10 -Insert a markdown cell to list Objectives.
### Objectives

- List popular languages for Data Science
- List popular libraries of python or R used for Data Science
- List common tools used for Data Science
- List some examples of arithmetic expression in python
- Show simple arithmetic expressions with a comment

Exercise 11 - Create a markdown cell to indicate the Author's name
### Authors name:
Tona